body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}

img {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
